{% extends "base.html" %}

{% block content %}
    <div class="card border-dark my-3">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <img class="align-middle" src="/{{ image }}" width="300px" height="300px">
            </div>
        </div>
        <div class="card-body text-dark">
            <h1 class="card-title font-weight-bold display-3 text-center">{{ genre }} «{{ title }}»</h1>
            <p class="card-text text-center">{{ book_author }}</p>
            <p class="card-text text-right"><small class="text-muted">Последнее изменение: {{ last_update }}</small></p>
            <p class="card-text text-secondary text-right">Книгу разместил: {{ user_author }}</p>
            <hr class="text-dark" align="center" width="100%" size="4" />
            <p class="display-1 font-weight-bold text-center my-2">Анализ</p>
            {% if content_analysis %}
                <div class="d-flex">
                    <div>{{ content_analysis|safe }}</div>
                </div>
            {% else %}
                <h1 class="text-secondary text-center">Информация отсутствует</h1>
            {% endif %}
            <hr class="text-dark" align="center" width="100%" size="4" />
            {% if book.pdf_link %}
                <a href="/download_file/{{ book.id }}" class="btn btn-info">Скачать книгу</a>
            {% else %}
                <h1 class="text-secondary text-center">Файл отсутствует</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}