{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        <h1>Редактирование книги</h1>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.book_author.label }}<br>
            {{ form.book_author(class="form-control") }}<br>
            {% for error in form.book_author.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.genre.label }}<br>
            {{ form.genre(class="form-select form-select form-select-lg mb-3") }}<br>
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}