{% extends "base.html" %}

{% block content %}
    <form action="">
        <h1>Works Log</h1>
        {% for info in data %}
            <h1>Action № {{ loop.index }}</h1>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        {% for key in info.keys() %}
                            <th scope="col">{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for value in info.values() %}
                            {% if loop.index == 6 %}
                                {% if not value %}
                                    <td class="table-danger">is not finished</td>
                                {% else %}
                                    <td class="table-success">is finished</td>
                                {% endif %}
                            {% else %}
                                <th scope="row">{{ value }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </form>
{% endblock %}