{% extends "base.html" %}

{% block content %}
    <div class="col-3 order-2" id="sticky-sidebar">
        <div class="sticky-top">
            <div class="nav flex-column">
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
                <a href="#_" class="nav-link">Link</a>
            </div>
        </div>
        </div>
        <div class="col" id="main">
            <h1>Main Area</h1>
            <p>Chambray sustainable roof party. Shoreditch vegan artisan Helvetica. Tattooed Codeply <br/> Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
            <p>3 wolf moon retro jean shorts chambray sustainable roof party. Shoreditch <br/>vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel<br/> Brooklyn literally small batch, mumblecore PBR try-hard kale chips. Brooklyn vinyl lumbersexual bicycle rights, viral fap cronut leggings squid chillwave pickled gentrify mustache. 3 wolf moon hashtag church-key Odd Future. Austin messenger bag normcore, Helvetica Williamsburg sartorial tote bag distillery Portland before they sold out gastropub taxidermy Vice.</p>
        </div>
    </div>
    <form action="">
        <h1>Работы пользователя</h1>
        {% for job in data %}
            <h1>Работа № {{ loop.index }}</h1>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        {% for key in job.keys() %}
                            <th scope="col">{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                        {% if current_user.is_authenticated %}
                            <div>
                                <a href="/edit_job/{{ job['id'] }}" class="btn btn-warning">
                                    Изменить
                                </a>
                                <a href="/job_delete/{{ job['id'] }}" class="btn btn-danger">
                                    Удалить
                                </a>
                            </div>
                        {% endif %}
                    <tr>
                        {% for value in job.values() %}
                            {% if loop.index == 6 %}
                                {% if not value %}
                                    <td class="table-danger">is not finished</td>
                                {% else %}
                                    <td class="table-success">is finished</td>
                                {% endif %}
                            {% else %}
                                <th scope="row">{{ value }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </form>
{% endblock %}